html {
    width: 100%;
    overflow-y: scroll;
}
body {
    background: #CCFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

.wrapper {
  background-color: aliceblue;
  min-width: 700px; 
  border: 2px solid blue;
  width: 85%;
  margin: 0 auto;
}
h1{
 text-align: center;
 color:#330066;
}

.button {
  background-color: #990000;
  border: none;
  color: white;
  padding: 10px 32px; 
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-weight:bold;
  margin: 4px 2px; 
  width:6%;
  border-radius: 12px;
  line-height: 50px;
  margin-right:10px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    color: blue;
}
h3{
    text-align: center;
    letter-spacing:5px;
}

p::first-letter 
{
  font-size: 250%;
  font-style: normal;
  font-weight: bold;
  color: #8B0000;
}

/* Style the footer */
footer {
   background-color:#990000;
   color: white;
   width: auto;
   font-weight: bold;
   text-align: center;
   padding: 10px;
}  

img {
    float: left; 
    
}
